<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog">
<#list entries as item>
	<system systemId="${item.key}" uri="${item.value}" />   
</#list>
</catalog>
